* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("./assets/schlBg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}
.menuBtn {
  z-index: 2;
  position: absolute;
  left: 1em;
  top: 1em;
}
.menuBtn:hover {
  cursor: pointer;
}
.schlNameDiv {
  display: flex;
  justify-content: center;
}
.schlName {
  position: absolute;
  top: 1em;
  left: 2.7em;
  color: red;
  font-size: 5em;
}
.tagLineDiv {
  display: flex;
  justify-content: center;
  padding: 0;
}
.tagLine {
  position: absolute;
  left: 1.3em;
  top: 2em;
  color: rgb(53, 165, 230);
  font-size: 10em;
  font-weight: bolder;
}
.aside {
  height: 100vh;
  width: 15vw;
  background-color: rgb(18, 18, 109);
}
.crossBtn {
  background: none;
  border: none;
  color: whitesmoke;
  font-size: 2em;
  position: relative;
  left: 4.6em;
  margin: 0.2em;
}
.crossBtn:hover {
  cursor: pointer;
}
.classBox {
  height: 9vh;
  width: 13vw;
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: red;
  justify-content: center;
  font-size: 1.5rem;
  border: 3px solid rgb(18, 18, 109);
}
.classBox:hover {
  cursor: pointer;
}
.classBox:nth-child(2) {
  padding: 0 1.6em;
  background-color: rgb(252, 153, 136);
}
.classBox:nth-child(3) {
  padding: 0 1.6em;
  background-color: rgb(194, 194, 194);
}
.classBox:nth-child(4) {
  padding: 0 1.6em;
  background-color: rgb(250, 250, 118);
}
.classBox:nth-child(5) {
  padding: 0 1.6em;
  background-color: lightblue;
}
.classBox:nth-child(n + 6) {
  padding: 0 1.6em;
  background-color: rgb(147, 202, 147);
}
.classBox:nth-child(11) {
  padding: 0 1.3em;
  background-color: rgb(147, 202, 147);
}

/* Class 1 css */

.class1{
  height: 100vh;
  background-color: coral;
  z-index: 2;
}
.teacherProfileH1Div{
  width: 70vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: chocolate;
  color: black;
  position: absolute;
  left: 60%;
  top: 5%;
  transform: translate(-60%, -5%);
}
.teacherProfileH1{
  text-decoration: underline;
}
.teacherProfileDiv{
  background-color:chocolate;
  color: black;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 60%;
  top:70%;
  transform: translate(-60%, -70%); 
  width: 70vw;
  height: 80vh;
  border-radius: 4em;
}
.teacherProfileDiv h1{
  display: flex;
  justify-content: center;
  font-size: 8rem;
  margin: auto;
}
.asideClass1{
  height: 100vh;
  width: 15vw;
  position: absolute;
  top: 0;
  background-color: rgb(18, 18, 109);
}