* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("./assets/schlBg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
.bg{
  height: 100vh;
  width: 200vw;
  background-color: #FCCF0D;
  transform: rotate(45deg);
}
.class1 {
  height: 100vh;
  background-color: whitesmoke;
  z-index: 2;
}
.teacherProfileH1Div {
  width: 70vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: #2A2927;
  color: #FCCF0D;
  font-size: 2rem;
  position: absolute;
  left: 60%;
  top: 5%;
  transform: translate(-60%, -5%);
  border-radius: 2em;
}
.teacherProfileH1 {
  text-decoration: underline;
}
.teacherProfileDiv {
  background-color: #2A2927;
  color: #FCCF0D;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 60%;
  top: 80%;
  transform: translate(-60%, -80%);
  width: 70vw;
  height: 80vh;
  border-radius: 4em;
}
.teacherProfileDiv h1 {
  display: flex;
  justify-content: center;
  font-size: 8rem;
  margin: auto;
}
.backBtn {
  position: absolute;
  left: 90%;
  top: 85%;
  z-index: 2;
}
.backBtn:hover {
  cursor: pointer;
}
.asideClass1 {
  height: 100vh;
  width: 15vw;
  position: absolute;
  top: 0;
  background-color: #2A2927;

}
.class1Heading {
  width: 13vw;
  height: 20vh;
  margin: 1em auto;
  padding: .2em .3em;
  color: #2A2927;
  background-color: #FCCF0D;
  font-size: 3rem;
  border-radius: 1.5em;
  box-shadow: 10px 10px 5px black;
}
.class1Heading:hover {
  cursor: pointer;
}
.marati {
  width: 13vw;
  height: 10vh;
  margin: 0.5em auto;
  padding: 0.5em 1em;
  color: #2A2927;
  background-color: #FCCF0D;
  font-size: 2rem;
  box-shadow: 10px 10px 5px black;
  border-radius: 2em;
}
.marati:hover {
  cursor: pointer;
}
.hindi {
  width: 13vw;
  height: 10vh;
  margin: 0.5em auto;
  padding: 0.5em 1em;
  color: #2A2927;
  background-color: #FCCF0D;
  font-size: 2rem;
  border-radius: 2em;
  box-shadow: 10px 10px 5px black;
}
.hindi:hover {
  cursor: pointer;
}
.english {
  width: 13vw;
  height: 10vh;
  margin: 0.5em auto;
  padding: 0.5em 1em;
  border-radius: 2em;
  color: #2A2927;
  background-color: #FCCF0D;
  font-size: 2rem;
  box-shadow: 10px 10px 5px black;
}
.english:hover {
  cursor: pointer;
}
.maths {
  width: 13vw;
  height: 10vh;
  margin: 0.5em auto;
  padding: 0.5em 1em;
  color: #2A2927;
  background-color: #FCCF0D;
  font-size: 2rem;
  border-radius: 2em;
  box-shadow: 10px 10px 5px black;
}
.maths:hover {
  cursor: pointer;
}
.evs {
  width: 13vw;
  height: 10vh;
  margin: 0.5em auto;
  padding: 0.5em 1em;
  border-radius: 2em;
  color: #2A2927;
  background-color: #FCCF0D;
  font-size: 2rem;
  box-shadow: 10px 10px 5px black;
}
.evs:hover {
  cursor: pointer;
}

/* Marati page css */

.maratiHeader {
  width:80vw;
  margin: 1em 0;
  border-radius: 2em;
  margin-left: 7.4em;
  font-size: 2rem;
  background-color: #2A2927;
  color: #FCCF0D;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 10;
}
.bg1{
  height: 100vh;
  width: 100vw;
  position: absolute;
  left: 34.5%;
  top: -30%;
  
  background-color: #FCCF0D;
  transform: rotate(45deg);
}